.local-search{
    display:flex;
    justify-content: space-between;
    height:40px;
    padding: 10px 40px 10px 40px;
    input{
        width: 498px;
        border-radius: 5px;
        border:none;
    }
}