.header{
    display:flex;
    justify-content: space-between;
    border:1px solid darkcyan;
    padding:0px 5px 0px 5px;
    height:40px;
    h6{
    margin: 0px;
    align-content: center;
    display: inline-grid;
    }
}